:root{
    --cold: #F5F6FF;
}

.login{
    display: flex;
    width: 100%;
    min-height:100vh;
}

.login_left{
    width: 45%;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;


    background-color: var(--cold);
}

.login_left img{
    max-width: 558px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

/* Form */
.login_right{
    display: flex;
    flex: 1;
    align-items:center;
    justify-content: flex-start;
        flex-direction: column;
        padding:10px;
        gap: 50px;

}

.login_right img{
    max-width: 400px;
    width: 100%;
}

.login_form{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.login_form_info{
    padding: 2px;
    margin-bottom: 20px;
}

.login_form_info h2{
    margin-bottom: 20px;
    font-size: 30px;

}

.login_form_info p > a{
    margin-left: 10px;
    padding: 2px;
    color: #9d8030;
    transition: 200ms;
}

.login_form_info p > a:hover{
    color: var(--laranja);
    text-decoration: underline;
}

.login_form_info .error{
    color: red;
    margin-top: 20px ;
}

.login_form .form-group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 34px;
}

.login_form .form-group label{
    margin-bottom: 14px;
}

.login_form .form-group input{
    width: 300px;
    padding: 10px 22px;
    border-radius: 2px;
    transition: 700ms;
    border-bottom: 1px solid var(--laranja);
    transition: 400ms;
}

.login_form .form-group input:focus{
    width: 400px;
    border-bottom: 1px solid var(--laranja);
}

.login_form_action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.login_form_action p{
    transition: 200ms;
}

.login_form_action p:hover{
    color: var(--laranja);
    text-decoration: underline;
    cursor: pointer;
}
 

/* Media querie */

@media screen and (max-width: 900px){
    .login_left{
        display: none;
    }
}