.list{
    width: 100%;
    min-height: calc(100vh - 135px);;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    padding-top: 10px;
}

.list .tabela{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--laranja);
}
.list .tabela .acoes{
    width: 330px;
}

.list .tabela .acoes button:nth-child(1){
    margin-right: 10px;
}
