.create {
  width: 100%;
  height: 100vh;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

.create h2 {
  font-size: 35px;
  color: var(--laranja);
  padding: 5px;
}

.create-form {
  width: 100%;
  max-width: 500px;
  border: 2px solid var(--laranja);
  border-radius: 8px;
  padding: 30px;
}

.create-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 38px;
  gap: 10px;
}
.form-group input
{
  width: 50px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid var(--laranja);
  transition: 400ms;
}

.form-group select{
  width: 400px;
  padding: 10px;
  
  border: 1px solid var(--laranja);
  border-radius: 20px;
}
.form-group input:focus{
  width: 400px;
}
.create-form .create_action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
