:root{
  --laranja: #f9c63f;
  --cold: #f5f6ff;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
*{
  margin:0;
  padding:0;
  outline:none;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
}

._btn{
  width: 150px;
  height: 40px;

  background-color: transparent;
  color:  var(--laranja);
  border-radius: 20px;
  border: 2px solid var(--laranja);
  transition: 200ms;
}
._btn:hover{
  background-color: var(--laranja);
  color:  var(--cold);
}

